body {
    background: linear-gradient(to bottom, #d8f8ff 0px, #eefcff 24px, #ffffff 45px);
    height: 100vh;
    text-align: center;
    font-family: 'poppins', sans-serif;
}


/*container Styling*/
.container {

    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

}

/*image Styling*/
img {
    height: auto;
    width: 271px;
    margin-top: 48px;
    margin-bottom: -50px;
    background-color: transparent;

}
/*card Styling*/
.card {
    margin: auto -135px;
    width: 700px;
    padding: 20px 40px;
    text-align: left;
    border-radius: 8px;
    border: 1px solid rgba(146, 242, 255, 0.932);

}
/*title Styling*/
.title {
    color:#2489B0;
    text-align: center;
    margin-top: 4px;

    margin-left:-38px;
    width:571px;
    font-size: 20px;
    font-family: 'BC Novatica CYR', sans-serif;
}


/*button Styling*/
.button {
    width: 670px;
    height: 50px;
    padding: 25px 20px 38px  ;
    margin: 8px 15px 20px;
    border-radius: 8.5px;
    border-width: 0;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: rgba(255, 106, 6, 0.993);
}


.New-user {
    margin-bottom: 10px;
    font-size: medium;
    margin-top: 60px;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

.form-group {
    width: 300px;
    margin: auto 0;
}


label {
    display: block;
    text-align:left;
    font-size: 15px;
    margin-bottom:5px;
    margin-top: 30px;
    margin-left: 18px;
    color: rgb(51, 51, 51)
}

#email {
    width: 650px;
    height: 30px;
    margin: 10px 15px;
    border-radius: 8px;
    border-width: 0px;
    border-color: rgb(201, 201, 201);
    background-color: rgba(247, 247, 247, 0.877);
    padding: 12px 10px;

}

.alternate-login {
    font-family: 'poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: auto 0;
    text-align: center;
}
#phone{
    width: 650px;
    height: 30px;
    margin: 10px 15px;
    border-radius: 8px;
    border-width: 0px;
    border-color: rgb(201, 201, 201);
    background-color: rgba(247, 247, 247, 0.877);
    padding: 12px 10px;

}